# EditorConfig helps maintain consistent coding styles across different editors and IDEs.
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{js,jsx,ts,tsx,cjs,mjs}]
indent_size = 2

[*.{json,yml,yaml}]
indent_size = 2

[*.{css,scss,less,html}]
indent_size = 2

[{Makefile,makefile}]
indent_style = tab
indent_size = 4
