@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .transition-hover {
    @apply transition ease-out duration-150;
  }
  .transition-active {
    @apply transition ease-out duration-100;
  }
}

@layer base {
  button {
    @apply transition-hover transition-active;
  }
}

